/* ------------------Header css------------------ */
.small-circle {
    height: 25px;
    width: 25px;
    display: grid;
    align-items: center;
    justify-content: center;

}

/* ---------------CardComponet css--------------- */

/* ------------------AddToCart------------------- */